In [2]:
import pandas as pd

In [3]:
tweetdata = pd.read_csv(r"dataset/processed/processed_data.csv")
sentimentdata = pd.read_excel((r"dataset/to_be_annotated DE.xlsx")).reset_index()

In [4]:
tweetdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4717 entries, 0 to 4716
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0.1            4717 non-null   int64
 1   id                      4717 non-null   int64
 2   edit_history_tweet_ids  4717 non-null   object
 3   created_at              4717 non-null   object
 4   text                    4717 non-null   object
 5   author_id               4717 non-null   int64
 6   Unnamed: 0              90 non-null     float64
 7   text_cleaned            4717 non-null   object
 8   text_cleaned_stemmed    4717 non-null   object
dtypes: float64(1), int64(3), object(5)
memory usage: 331.8+ KB

In [5]:
sentimentdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4717 entries, 0 to 4716
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   4717 non-null   int64
 1   id                      4717 non-null   int64
 2   edit_history_tweet_ids  4717 non-null   object
 3   created_at              4717 non-null   object
 4   text                    4717 non-null   object
 5   author_id               4717 non-null   int64
 6   PIC                     4717 non-null   object
 7   Type                    4717 non-null   object
 8   Notes                   2292 non-null   object
dtypes: int64(3), object(6)
memory usage: 331.8+ KB

In [6]:
len(tweetdata)

4717

In [7]:
len(sentimentdata)

4717

In [8]:
sentimentdata.head()

,index,id,edit_history_tweet_ids,created_at,text,author_id,PIC,Type,Notes
0,0,1880655687866553088,1880655687866552831,2025-01-18T16:37:11.000Z,Ketua Umum PDIP Megawati Soekarnoputri sempat ...,917707622026928128,Kia,Negatif,NaN
1,1,1880655628819164928,1880655628819165446,2025-01-18T16:36:57.000Z,@HabilIsl Hold $WOWO dapat airdrop makan siang...,112500656,Kia,Outlier,NaN
2,2,1880655540717842944,1880655540717842742,2025-01-18T16:36:36.000Z,KALAU MBG NYA INI GUE JUGA MAU DUT BIAR GUE MU...,1266052828742603008,Kia,Negatif,NaN
3,3,1880655480122650880,1880655480122651014,2025-01-18T16:36:22.000Z,@neohistoria_id program MBG tuh B nya Bersyuku...,1838116873331944960,Kia,Negatif,NaN
4,4,1880655463207117056,1880655463207117137,2025-01-18T16:36:17.000Z,@03__nakula Ga semua anak Indonesia bisa makan...,1511016593353936896,Kia,Positif,NaN

In [9]:
combined_data = tweetdata.merge(sentimentdata[["index","Type"]],left_on="Unnamed: 0.1",right_on="index",how='inner').drop(columns="index")

In [10]:
len(combined_data)

4717

In [11]:
combined_data.groupby("Type").count()

,Unnamed: 0.1,id,edit_history_tweet_ids,created_at,text,author_id,Unnamed: 0,text_cleaned,text_cleaned_stemmed
Type,,,,,,,,,
Negatif,1478,1478,1478,1478,1478,1478,32,1478,1478
Netral,508,508,508,508,508,508,37,508,508
Outlier,187,187,187,187,187,187,9,187,187
Positif,2544,2544,2544,2544,2544,2544,12,2544,2544

In [12]:
combined_data["Type"].unique()

array(['Negatif', 'Outlier', 'Positif', 'Netral'], dtype=object)

## Filter Outlier

In [37]:
combined_data = combined_data[combined_data["Type"]!="Outlier"].reset_index(drop=True)

In [40]:
combined_data.to_csv(r"dataset/processed/processed_data_sentiment.csv")

In [41]:
combined_data.to_excel(r"dataset/processed/processed_data_sentiment.xlsx")